.utils {
    height: 75vh;
    font-family: 'Roboto';
}

.utils h1, h2 {
    font-weight: 300;
}

.connect-wallet,
.get-metamask {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

